body {
  font-style: normal;
  color: $dark-900;
  font-family: $OpenSans;
  font-weight: 600;
  line-height: 1.4;
  font-size: 14px;
  letter-spacing: 0.03em;
  position: relative;
  background-color: #FFFFFF;
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  flex: 1 1 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-family: $Ruda;
  font-size: 32px;
  text-transform: uppercase;
  color: $dark-900;
}

.btn {
  font-family: $OpenSans;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #fff;
  border-radius: 6px;
  padding: 12px 24px;
  transition: background-color 0.4s ease 0s, box-shadow 0.4s ease 0s;
}

.search-form {
  display: flex;
  width: 100%;
  position: relative;

  &__input {
    width: 100%;
    border-radius: 6px 0px 0px 6px;
    border: none;
    outline: transparent;

    &::placeholder {
      font-family: $OpenSans;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.4;
      letter-spacing: 0.03em;
    }
  }

  &__button {
    font-family: $OpenSans;
    font-size: 14px;
    width: 100%;
    border-radius: 0 6px 6px 0;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, box-shadow 0.4s ease 0s;
  }
}

.products-filter {


  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button {
    font-family: $OpenSans;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: $dark-500;
    border-bottom: 1px solid transparent;
  }
}

.badge {
  color: #fff;
  line-height: 1;
  font-size: 10px;
  border-radius: 6px;
  padding: 3px 6px;
  position: absolute;
  text-transform: uppercase;

  &--green {
    background-color: $green-900;
    top: 12px;
    left: 12px;
  }

  &--orange {
    background-color: $orange-900;
    top: 12px;
    left: 12px;
  }

  &--red {
    background-color: $red-900;
    left: 12px;
    top: 37px;
  }
}

.mixitup-control-active {
  border-bottom: 3px solid #E0EDCF;
  width: 100%;
}

.social {

  &__list {
    display: flex;
    align-items: center;
  }

  &__link {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 32px;

    &--facebook {
      background-image: url('../images/facebook .svg');
      width: 25px;
      height: 32px;
    }

    &--youtube {
      background-image: url('../images/youtube.svg');
      height: 24px;
    }

    &--telegramm {
      background-image: url('../images/telegramm.svg');
      height: 27px;
    }

    &--instagramm {
      background-image: url('../images/instagramm.svg');
      height: 32px;
    }

    &:hover {
      filter: invert(97%) sepia(9%) saturate(552%) hue-rotate(27deg) brightness(97%) contrast(91%);
    }
  }
}