body {
  font-style: normal;
  color: $dark-900;
  @extend %OpenSans-600;
  height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 140%;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}