@import 'reset';
@import 'fonts';
@import 'vars';
@import 'libs';
@import 'global';

.body--active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
}

.header__top {
  color: #fff;
  background-color: $dark-800;
  padding: 16px 0;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services {
  display: flex;

  &__item {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:not(:last-child) {
      margin-right: 45px;
    }

    &--delivery::before,
    &--hotline::before {
      content: '';
      position: absolute;
      left: 0;
      height: 22px;
    }

    &--delivery::before {
      top: -3px;
      width: 32px;
      background-image: url('../images/dilivery.svg');
    }

    &--hotline::before {
      top: 0;
      left: 5px;
      width: 22px;
      background-image: url('../images/hot-line.svg');
    }
  }

  &__link {
    padding-left: 46px;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
  }
}


.menu {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__link {
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
  }
}

.services__link,
.menu__link,
.social__link {
  transition: opacity 0.4s ease 0s, background-color 0.4s ease 0s, bax-shadow 0.4s ease 0s;

  &:focus {
    background-color: rgba(255, 255, 255, 0.0001);
    box-shadow: 0 0 0 3px #EFF6E7;
    border-radius: 3px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    color: $green-200;
    border: none;
    box-shadow: none;
  }
}

.header__bottom {
  background-color: $green-900;
  padding: 25px 0;
}

.header__bottom-inner {
  display: flex;
  align-items: center;
}

.logo {

  &--header {
    margin-right: 23px;

    &__img {
      max-width: initial;
    }
  }
}

.dropdawn-menu {
  position: relative;
  margin-right: 30px;

  &::after {
    content: '';
    background-image: url('../images/catalog-icon.svg');
    position: absolute;
    color: inherit;
    top: 15px;
    left: 17px;
    width: 25px;
    height: 17px;
  }

  &__list {
    opacity: 0;
    position: absolute;
    z-index: 5;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    transition: all 0.4s ease 0s;
  }

  &__item {
    border: 1px solid #EBEBEB;
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 0;
    padding-left: 25px;
    position: relative;

    &:hover::before {
      content: '';
      position: absolute;
      top: 0;
      left: -1px;
      width: 2px;
      height: 100%;
      background-color: $green-900;
    }

    &:hover {
      color: $green-900;
    }
  }

  &__btn {
    background-color: #FFFFFF;
    border-radius: 6px;
    color: $green-900;
    padding: 15px 40px;
    position: relative;
    padding-left: 60px;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-weight: 600;
    line-height: 1.4;
    font-family: $OpenSans;
  }

  &__arrow {
    content: url('../images/catalog-arrow.svg');
    top: 20px;
    right: 23px;
    width: 8px;
    height: 10px;
    position: absolute;
    transition: transform 0.4s ease 0s;

    &--active {
      transform: rotate(-180deg);
    }
  }
}

.dropdawn-menu--active {
  background-color: $green-200;
  border-radius: 6px 6px 0 0;
}

.search-form--header {
  max-width: 576px;
  margin-right: 50px;

  &::before {
    content: '';
    background-image: url('../images/lupa.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 16px;
    left: 12px;
    width: 20px;
    height: 20px;
    color: $dark-800;
  }

  &::placeholder {
    color: $dark-800;
  }
}

.search-form__button--header {
  max-width: 157px;
  background-color: $dark-800;
  font-weight: 400;

  &:focus {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
  }

  &:hover {
    background-color: rgba(49, 53, 43, 0.85);
  }

  &:active {
    color: rgba(255, 255, 255, 0.5);
  }
}

.search-form__input--header {
  max-width: 419px;
  padding: 15px 0;
  padding-left: 52px;
}

.user-nav {
  display: flex;
  align-items: center;

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.user-nav__link {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: relative;
  transition: background-color 0.4s ease 0s, box-shadow 0.4s ease 0s, opacity 0.4s ease 0s;

  &--user,
  &--heart,
  &--cart {
    width: 50px;
    height: 50px;
    background-color: transparent;

    &:focus {
      box-shadow: inset 0 0 0 3px #EFF6E7;
      border-radius: 3px;
    }

    &:hover {
      background-color: $dark-500;
    }
  }

  &--user::before,
  &--heart::before,
  &--cart::before {
    content: '';
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  &--user::before {
    background-image: url('../images/user.svg');
    width: 25px;
    height: 32px;
  }

  &--heart::before {
    background-image: url('../images/heart.svg');
    width: 32px;
    height: 29px;
  }

  &--cart::before {
    background-image: url('../images/cart.svg');
    width: 32px;
    height: 31px;
  }


  &--heart,
  &--cart {
    & span {
      position: absolute;
      top: 0;
      left: 7px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: #fff;
      color: $red-900;
      font-size: 10px;
      text-align: center;
      line-height: 1.5;
    }
  }
}


//пока не смотреть
.cart {
  font-family: $OpenSans;
  font-weight: 400;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 475px;
  background-color: $silver-100;
  z-index: 5;
  transform: translateY(-250%);
  transition: translate 0.4s ease 0s;

  &--active {
    transform: translateY(0);
    transition: translate 0.4s ease 0s;
  }

  &__top {
    line-height: 1.2;
    color: #000;
    background-color: #fff;
    padding: 19px 25px 12px;
  }

  &__title {
    margin-bottom: 12px;
    font-size: 24px;
  }

  &__content {
    height: calc(100vh - 227px);
  }

  &__clear {
    font-weight: 300;
  }

  &__close {
    background-image: url('../images/cart-close.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    color: $dark-800;
    position: absolute;
    top: 33px;
    right: 26px;
  }

  &__price {
    background-color: #fff;
    padding: 24px;
    font-size: 24px;
    line-height: 1.2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__order {
    background-color: $green-900;
    font-size: 18px;
    line-height: 1.3;
    color: #FFF;
    padding: 23px;
    text-align: center;
    width: 100%;
  }
}

.cart__content-list {
  padding: 12px;
}

.cart__content-item {
  background: #FFFFFF;
  border: 1px solid #C1C1C1;
  border-radius: 3px;
  display: flex;
  margin-bottom: 15px;
  padding: 20px;
  position: relative;

  & img {
    max-width: 81px;
    max-height: 65px;
  }
}

.article__title {
  margin-bottom: 5px;
  font-size: 14px;
  max-width: 190px;
}

.article__close {
  background-image: url('../images/cart-close-mini.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 12px;
  height: 12px;
  color: #C1C1C1;
  position: absolute;
  top: 10px;
  right: 10px;
}

//дальше смотреть

.slider-promo {

  &__item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
  }

  &__inner {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    padding-left: 27px;
    padding-top: 31px;
    padding-bottom: 42px;
  }
}

.slick-prev,
.slick-next {
  content: '';
  position: absolute;
  z-index: 4;
  top: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  background-color: #fff;
  opacity: 0.8;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $green-200;
    color: $green-200;
  }
}

.slick-prev {
  left: 80px;
}

.slick-next {
  right: 80px;
}

.slider-promo__title {
  font-family: $Ruda;
  font-weight: 900;
  font-size: 60px;
  line-height: 1.3;
  text-transform: uppercase;
  color: $dark-500;
  margin-bottom: 12px;
  max-width: 850px;

  & span {
    color: $red-900;
  }
}

.slider-promo__text {
  font-weight: 400;
  font-size: 16px;
  color: $dark-500;
  margin-bottom: 32px;
}

.slider-promo__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #FFFFFF;
  background-color: $green-900;
  border-radius: 6px;
  padding: 12px 24px;
  z-index: 5;
  transition: background-color 0.4s ease 0s, box-shadow 0.4s ease 0s;

  &:focus {
    box-shadow: 0 0 0 4px $green-200;
  }

  &:hover {
    background-color: #4D810C;
  }

  &:active {
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.benefit {
  background-color: $silver-100;
  padding: 50px 0 30px;

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    padding-left: 74px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
      content: '';
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      position: absolute;
    }
  }

  &__title {
    font-size: 16px;
    color: $dark-900;
    margin-bottom: 6px;
  }

  &__descr {
    font-weight: 400;
    color: $dark-500;
    max-width: 180px;
  }
}

.benefit__item {
  &:not(:last-child) {
    margin-right: 65px;
  }
}

.benefit__item--dilivery::before {
  background-image: url('../images/moto.svg');
  height: 44px;
}

.benefit__item--return::before {
  background-image: url('../images/return.svg');
}

.benefit__item--support::before {
  background-image: url('../images/hours.svg');
}

.top-product {
  padding: 72px 0;
  text-align: center;

  &__title {
    margin-bottom: 27px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 42px;
  }

  &__item {
    max-width: 300px;
    min-height: 409px;
    border: 1px solid rgba(17, 17, 17, 0.2);
    box-sizing: border-box;
    border-radius: 6px;
    padding: 56px 0 18px;
    position: relative;
    display: flex;
    flex-direction: column;

    &--new::after,
    &--sale::before,
    &--hit::before {
      position: absolute;
      left: 8px;
      border-radius: 6px;
      font-weight: 700;
      font-size: 10px;
      line-height: 1;
      color: #FFFFFF;
      padding: 3px 6px;
    }

    &--new::after {
      content: 'новинка';
      background-color: $green-900;
      top: 9px;
    }

    &--sale::before {
      content: '-50%';
      background-color: $red-900;
      top: 31px;
    }

    &--hit::before {
      content: 'хит';
      background-color: $orange-900;
      ;
      top: 9px;
    }
  }
}

.product-card {

  &__title {
    color: $dark-900;
    margin-bottom: 5px;
    padding: 0 18px;
    text-align: left;
    font-size: 14px;
  }

  &__price {
    font-weight: 400;
    position: absolute;
    left: 21px;
    bottom: 18px;
    display: inline-block;
  }

  &__cart {
    background-color: $green-900;
    border-radius: 3px;
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 18px;
    right: 18px;
    transition: background-color 0.4s ease 0s, opacity 0.4s ease 0s;

    &:focus {
      box-shadow: 0 0 0 4px #E0EDCF;
    }

    &:hover {
      background-color: #4D800C;
    }

    &:active {
      opacity: 0.5;
    }

    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/icon-cart.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: #fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 16px;
      height: 16px;
    }
  }
}

.product__price--old {
  position: relative;
  color: $silver-600;

  &::before {
    content: '';
    position: absolute;
    top: 6px;
    right: 0;
    border: 1px solid $silver-600;
    width: 45px;
    transform: rotate(-15deg);
  }
}

.product__count {
  display: flex;
  justify-content: center;
  // position: absolute;
  // bottom: 10%;
  // left: 50%;
  // transform: translateX(-50%);
}

.count__btn {
  width: 20px;
  height: 20px;
  background-color: $green-900;
  display: inline-block;
  position: relative;
  color: #fff;
}

.count {
  width: 30px;
  height: 20px;
  background-color: $silver-100;
  display: inline-block;
}

.product-card__like {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 8px;
  right: 9px;
  width: 44px;
  height: 44px;
  background-color: transparent;
  z-index: 5;

  &::before {
    content: '';
    background-image: url('../images/product-like.svg');
    width: 32px;
    height: 28px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  &:focus {
    background-color: rgba(184, 178, 177, 0);
    box-shadow: 0 0 0 3px $silver-600;
    border-radius: 3px;
  }

  &:hover {
    filter: invert(73%) sepia(42%) saturate(1845%) hue-rotate(355deg) brightness(99%) contrast(111%);
  }

  &:active {
    opacity: 0.5;
  }
}

.product-card__img {
  margin-bottom: 7px;
  position: relative;
  transition: background-color 0.4s ease 0s;
  display: block;

  &:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
  }

  &:hover::after {
    content: url('../images/product-lupa.svg');
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 48px;
    height: 48px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 4;
    text-align: center;
  }
}

.top-product__button {
  color: $green-900;
  border: 1px solid $green-900;

  &:focus {
    box-shadow: 0 0 0 4px rgba(99, 166, 14, 0.5);
  }


  &:hover {
    background-color: $green-100;
  }

  &:active {
    box-shadow: inset 0 10px 4px rgba(0, 0, 0, 0.1);
  }
}

.footer {
  background-color: $dark-800;
  padding: 30px 0 23px;
  color: #fff;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 77px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    opacity: 0.1;
  }

  &__top {
    display: flex;
  }

  &--logo {
    display: inline-block;
    margin-bottom: 31px;
  }
}

.footer__top-inner {
  margin-right: 150px;
}

.footer__label {
  margin-bottom: 18px;
  display: block;
  font-weight: 400;
  line-height: 1;
}

.search-form__input--footer {
  padding: 12px;
  max-width: 180px;
}

.search-form__button--footer {
  background-color: $green-900;
  font-size: 12px;
  padding: 12px 16px;
  max-width: 125px;

  &:focus {
    box-shadow: 0 0 0 4px $green-200;
  }

  &:hover {
    background-color: #4D800C;
  }

  &:active {
    color: rgba(255, 255, 255, 0.5);
  }
}

.footer__top-list {
  display: flex;
}

.footer__top-item {

  &:not(:last-child) {
    margin-right: 75px;
  }
}

.footer__top-link {
  display: block;
  font-weight: 400;
  margin-bottom: 18px;
}

.footer__address {
  margin-left: auto;

  &-link {
    display: block;
    font-weight: 400;

    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copiraight {
  font-weight: 400;
}

.pay-list {
  display: flex;

  &__item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 29px;
    margin-right: 20px;

    &--master {
      background-image: url('../images/mastercard.svg');
      width: 50px;
    }

    &--visa {
      background-image: url('../images/visa.svg');
      width: 93px;
    }
  }
}

@import 'media';