<section class="promo-banners">
  <h2 class="sr-only">
    Банеры с сезонными акциями
  </h2>
  <div class="container">
    <ul class="promo-banners__list">
      <li class="promo-banners__item">
        <figure class="promo-banners__figure">
          <img class="promo-banners__img" src="images/banners/banner-2.jpg" alt="акции на свежайшие фрукты">
          <figcaption class="promo-banners__figcaption">
            <h3 class="promo-banners__title">
              свежайшие фрукты
              <span>
                Начни фруктовое лето
                всего от 99 ₽
              </span>
            </h3>
            <a class="promo-banners__link" href="#">
              Перейти к покупкам
              <span class="sr-only">Перейти в раздел свежих фруктов</span>
            </a>
          </figcaption>
        </figure>
      </li>
      <li class="promo-banners__item">
        <figure class="promo-banners__figure">
          <img class="promo-banners__img" src="images/banners/banner-1.jpg" alt="акции на овощи 50%">
          <figcaption class="promo-banners__figcaption">
            <h3 class="promo-banners__title">
              сезонная распродажа
              <span>
                овощепад до -50%
              </span>
            </h3>
            <a class="promo-banners__link" href="#">
              Перейти к покупкам
              <span class="sr-only">Перейти в раздел овощей с 50% скидкой</span>
            </a>
          </figcaption>
        </figure>
      </li>
      <li class="promo-banners__item">
        <figure class="promo-banners__figure">
          <img class="promo-banners__img" src="images/banners/banner-3.jpg" alt="акции на свежий хлебчик">
          <figcaption class="promo-banners__figcaption">
            <h3 class="promo-banners__title">
              ням-ням
              <span>
                свежий хлебчик
              </span>
            </h3>
            <a class="promo-banners__link" href="#">
              Перейти к покупкам
              <span class="sr-only">Акции на свежий хлеб</span>
            </a>
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>
</section>