<section class="benefit">
  <h2 class="sr-only">Преимущества интернет магазина Фрешок</h2>
  <div class="container">
    <ul class="benefit__list">
      <li class="benefit__item benefit__item--dilivery">
        <h3 class="benefit__title">
          Бесплатная доставка
        </h3>
        <div class="benefit__descr">
          <p>
            Для заказов на сумму от 500 ₽
          </p>
        </div>
      </li>
      <li class="benefit__item benefit__item--return">
        <h3 class="benefit__title">
          Возврат товара
        </h3>
        <div class="benefit__descr">
          <p>
            Если товары были испорчены
          </p>
        </div>
      </li>
      <li class="benefit__item benefit__item--support">
        <h3 class="benefit__title">
          Поддержка 24/7
        </h3>
        <div class="benefit__descr">
          <p>
            Лучшие операторы
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>