<section class="brends">
  <div class="container">
    <h2 class="sr-only">
      Наши спонсоры
    </h2>
    <ul class="brends__list">
      <li class="brends__item brends__item--sprite"></li>
      <li class="brends__item brends__item--dr-peper"></li>
      <li class="brends__item brends__item--cola"></li>
      <li class="brends__item brends__item--pepsi"></li>
      <li class="brends__item brends__item--red-bull"></li>
      <li class="brends__item brends__item--fanta"></li>
    </ul>
  </div>
</section>