<section class="discount" data-ref="container-2">
  <div class="container">
    <h2 class="discount__title title">
      акции
    </h2>
    <div class="products-filter">
      <ul class="products-filter__list products-filter__list-discount">
        <li class="products-filter__item products-filter__item-discount">
          <button class="products-filter__button" data-filter="all" type="button">
            Все товары
          </button>
        </li>
        <li class="products-filter__item products-filter__item-discount">
          <button class="products-filter__button" data-filter=".category-a" type="button">
            Новинки
          </button>
        </li>
        <li class="products-filter__item products-filter__item-discount">
          <button class="products-filter__button" data-filter=".category-b" type="button">
            Хиты
          </button>
        </li>
      </ul>
    </div>
    <ul class="discount__list">
      <li class="discount__item mix category-a">
        <article class="discount-card">
          <a class="discount-card__img" href="#">
            <img src="images/discount/pineapple.jpg" alt="ананас" width="100" height="100">
          </a>
          <span class="badge badge--green">новинка</span>
          <div class="discount-card__inner">
            <h3 class="discount-card__title">
              ананас
            </h3>
            <div class="presence">
              в наличии
            </div>
            <div class="discount-card__price">
              <span class="discount__price discount__price--new">999₽</span>
              <span class="discount__price discount__price--old">1999₽</span>
            </div>
            <div class="discount-card__raiting">
              4.5
              <span></span>
            </div>
          </div>
        </article>
      </li>
      <li class="discount__item mix category-a">
        <article class="discount-card">
          <a class="discount-card__img" href="#">
            <img src="images/discount/coffee.jpg" alt="Кофе" width="100" height="100">
          </a>
          <span class="badge badge--green">новинка</span>
          <div class="discount-card__inner">
            <h3 class="discount-card__title">
              Кофе с коноплей органический Caffé Salomoni 250г
            </h3>
            <div class="presence">
              заканчивается
            </div>
            <div class="discount-card__price">
              <span class="discount__price discount__price--new">777₽</span>
              <span class="discount__price discount__price--old">877₽</span>
            </div>
            <div class="discount-card__raiting">
              4.9
              <span></span>
            </div>
          </div>
        </article>
      </li>
      <li class="discount__item mix category-a">
        <article class="discount-card">
          <a class="discount-card__img" href="#">
            <img src="images/discount/strawberry.jpg" alt="ананас" width="100" height="100">
          </a>
          <span class="badge badge--green">новинка</span>
          <div class="discount-card__inner">
            <h3 class="discount-card__title">
              Клубника, 1 кг
            </h3>
            <div class="presence">
              нет в наличии
            </div>
            <div class="discount-card__price">
              <span class="discount__price discount__price--new">440₽</span>
              <span class="discount__price discount__price--old">600₽</span>
            </div>
            <div class="discount-card__raiting">
              5.0
              <span></span>
            </div>
          </div>
        </article>
      </li>
      <li class="discount__item mix category-b">
        <article class="discount-card">
          <a class="discount-card__img" href="#">
            <img src="images/discount/mango.jpg" alt="ананас" width="100" height="100">
          </a>
          <span class="badge badge--green">новинка</span>
          <div class="discount-card__inner">
            <h3 class="discount-card__title">
              Манго, 1 шт
            </h3>
            <div class="presence">
              в наличии
            </div>
            <div class="discount-card__price">
              <span class="discount__price discount__price--new">660₽</span>
              <span class="discount__price discount__price--old">960₽</span>
            </div>
            <div class="discount-card__raiting">
              5.0
              <span></span>
            </div>
          </div>
        </article>
      </li>
      <li class="discount__item mix category-b">
        <article class="discount-card">
          <a class="discount-card__img" href="#">
            <img src="images/discount/salmon.jpg" alt="ананас" width="100" height="100">
          </a>
          <span class="badge badge--green">новинка</span>
          <div class="discount-card__inner">
            <h3 class="discount-card__title">
              Лосось, 1 кг
            </h3>
            <div class="presence">
              в наличии
            </div>
            <div class="discount-card__price">
              <span class="discount__price discount__price--new">999₽</span>
              <span class="discount__price discount__price--old">1499₽</span>
            </div>
            <div class="discount-card__raiting">
              4.5
              <span></span>
            </div>
          </div>
        </article>
      </li>
      <li class="discount__item mix category-b">
        <article class="discount-card">
          <a class="discount-card__img" href="#">
            <img src="images/discount/granini.jpg" alt="ананас" width="100" height="100">
          </a>
          <span class="badge badge--orange">хит</span>
          <div class="discount-card__inner">
            <h3 class="discount-card__title">
              Сок Granini овощной 100%, 0.5л
            </h3>
            <div class="presence">
              заканчивается
            </div>
            <div class="discount-card__price">
              <span class="discount__price discount__price--new">180₽</span>
              <span class="discount__price discount__price--old">230₽</span>
            </div>
            <div class="discount-card__raiting">
              4.9
              <span></span>
            </div>
          </div>
        </article>
      </li>
      <li class="discount__item mix category-b">
        <article class="discount-card">
          <a class="discount-card__img" href="#">
            <img src="images/discount/basket.jpg" alt="ананас" width="100" height="100">
          </a>
          <span class="badge badge--orange">хит</span>
          <div class="discount-card__inner">
            <h3 class="discount-card__title">
              Фруктовая корзина, 1 шт
            </h3>
            <div class="presence">
              в наличии
            </div>
            <div class="discount-card__price">
              <span class="discount__price discount__price--new">3990₽</span>
              <span class="discount__price discount__price--old">5990₽</span>
            </div>
            <div class="discount-card__raiting">
              4.5
              <span></span>
            </div>
          </div>
        </article>
      </li>
      <li class="discount__item mix category-b">
        <article class="discount-card">
          <a class="discount-card__img" href="#">
            <img src="images/discount/pig.jpg" alt="ананас" width="100" height="100">
          </a>
          <span class="badge badge--orange">хит</span>
          <div class="discount-card__inner">
            <h3 class="discount-card__title">
              Свинина мякоть, 1 кг
            </h3>
            <div class="presence">
              в наличии
            </div>
            <div class="discount-card__price">
              <span class="discount__price discount__price--new">499₽</span>
              <span class="discount__price discount__price--old">599₽</span>
            </div>
            <div class="discount-card__raiting">
              4.6
              <span></span>
            </div>
          </div>
        </article>
      </li>
    </ul>
    <button class="discount__button btn" type="button">
      Показать еще
    </button>
  </div>
</section>