<section class="our-news">
  <div class="container">
    <h2 class="our-news__title title">
      Наши новости
    </h2>
    <ul class="our-news__list">
      <li class="our-news__item">
        <a class="our-news__link" href="#">
          <figure class="our-news__box">
            <img class="our-news__img" src="images/our-news/img-1.jpg" alt="банер с фруктами" width="410" height="240">
            <div class="our-news__badge">
              июль
              <span>15</span>
            </div>
            <figcaption class="our-news__text">
              <p>
                Событие этого лета: распродажа сезонных фруктов в онлайн-маркете ФрешОК. Торопись, пока всё не
                разобрали!
              </p>
            </figcaption>
          </figure>
        </a>
      </li>
      <li class="our-news__item">
        <a class="our-news__link" href="#">
          <figure class="our-news__box">
            <img class="our-news__img" src="images/our-news/img-2.jpg" alt="банер с манго" width="410" height="240">
            <div class="our-news__badge">
              май
              <span>07</span>
            </div>
            <figcaption class="our-news__text">
              <p>
                Шикарнейший выбор манго в нашем онлайн-маркете
              </p>
            </figcaption>
          </figure>
        </a>
      </li>
      <li class="our-news__item">
        <a class="our-news__link" href="#">
          <figure class="our-news__box">
            <img class="our-news__img" src="images/our-news/img-3.jpg" alt="банер с папайа" width="410" height="240">
            <div class="our-news__badge">
              февраль
              <span>20</span>
            </div>
            <figcaption class="our-news__text">
              <p>
                Всё, что вы хотели знать о папайя
              </p>
            </figcaption>
          </figure>
        </a>
      </li>
    </ul>
  </div>
</section>